{% extends 'AppBundle::base.html.twig' %}

{% use '@App/includes/searches_list.html.twig' %}

{% set page = app.request.get('page') %}
{% set current_path = 'searches' %}

{% block title %}
    {{ 'title.searches'|trans }}
    {% if searches_saved|length > 0 %}
        {{ 'title.pagination'|trans({'%page%': page, '%pages%': total_pages_count}) }}
    {% endif %}
{% endblock %}

{% block pagination %}
    {% include('@App/includes/pagination.html.twig') %}
{% endblock %}

{% block body %}
    <div class="row ">
        <div class="col-md-12">
            <h3>{{ block('title') }}</h3>
            {{ block('searches_list') }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/searches.js') }}"></script>
    {{ block('ad_list_javascripts') }}
    <script>
        $('.searches-collapse').click(function () {
            var btnText =
                ($(this).text().trim() === "{{ 'searches.button.view_more'|trans() }}")
                    ? "{{ 'searches.button.view_less'|trans() }}"
                    : "{{ 'searches.button.view_more'|trans() }}"
            $(this).text(btnText);
        });
    </script>

{% endblock %}

