{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

<h1 class="text-center">{{ title }}</h1>
{{ form_start(form, { 'action': path('fos_user_change_password'),
    'attr': { 'class': 'fos_user_change_password', novalidate: 'novalidate' } }) }}
    {{ form_widget(form) }}
    <div class="text-center">
        <button class="btn btn-primary btn-lg" type="submit">{{ 'change_password.submit'|trans }}</button>
    </div>
{{ form_end(form) }}
