{% extends 'base.html.twig' %}

{% block title %}Projektai{% endblock %}

{% block body %}
    <ul class="list-group m-4">
        <li class="list-group-item list-group-item-info">Studentai</li>
        {% for key, project in projects %}
            {% for student in project.students %}
                <li class="list-group-item">
                    <a href="{{ path('student', {'name': student, 'project': key }) }}">{{ student }}</a>
                    (
                    <span class="badge">
                        {% if project.mentors|length > 1 %}
                            Mentoriai
                        {% else %}
                            Mentorius
                        {% endif %}
                    </span>
                    {{ project.mentors|join(', ') }}
                    )
                </li>
            {% endfor %}
        {% endfor %}
    </ul>

    <div class="m-4">
        <form action="{{ path('student') }}" method="get">
            <div class="input-group">
                <input name="name" type="text" class="form-control" placeholder="Studentas"/>
            </div>
            <div class="input-group">
                <input name="project" type="text" class="form-control" placeholder="Projektas"/>
            </div>
            <button type="submit" class="btn btn-success">Sužinoti vertinimą</button>
        </form>
    </div>

    <ul class="list-group m-4">
        <li class="list-group-item list-group-item-info">Projektai</li>
        {% for key, project in projects %}
        <li class="list-group-item">
            <h3>{{ project.name }}</h3>
            <div class="panel panel-default">
                <div>
                    <a target="_blank" href="https://github.com/nfqakademija/{{ key|url_encode }}">github.com/nfqakademija/{{ key|url_encode }}</a>
                    <span class="badge">GitHub</span>
                </div>
                <div>
                    <a target="_blank" href="http://{{ key|url_encode }}.projektai.nfqakademija.lt/">{{ key|url_encode }}.projektai.nfqakademija.lt/</a>
                    <span class="badge">Web</span>
                </div>
                <div>
                    <pre>ssh {{ key|url_encode }}@deploy.nfqakademija.lt -p 2222</pre>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>

    <div class="m-4">
        <a class="text-light" href="students.json">Duomenų failas</a>
    </div>
{% endblock %}
