{% set page_interval_diff = 2 %}
<div class="row text-center">
    <nav>
        <ul class="pagination">
            <!-- Render "Previous" button -->
            <li>
                {% if page > 1 %}
                <a href="{{ path(current_path,
                app.request.attributes.get('_route_params')|merge({'page': page-1})|merge(app.request.query.all)) }}">
                    {% else %}
                    <a href="#">
                        {% endif %}
                        <span>&larr;</span> {{ 'pagination.previous'|trans() }}
                    </a>
            </li>
            <!-- Render first page button if it is needed -->
            {% if page > page_interval_diff + 1  %}
                <li>
                    <a href="{{ path(current_path,
                    app.request.attributes.get('_route_params')|merge({'page': 1})|merge(app.request.query.all)) }}">
                        <span>1</span>
                    </a>
                </li>
            {% endif %}
            <!-- Render gap if it is needed -->
            {% if page > page_interval_diff + 2  %}
                <li>
                    <a href="#">
                        <span>...</span>
                    </a>
                </li>
            {% endif %}
            <!-- Render all pages close to current one -->
            {% for i in page-page_interval_diff..page+page_interval_diff %}
                {% if i > 0 and i <= total_pages_count %}
                    {% if i == page %}
                        <li class="active">
                    {% else %}
                        <li>
                    {% endif %}
                    <a href="{{ path(current_path,
                    app.request.attributes.get('_route_params')|merge({'page': i})|merge(app.request.query.all)) }}">
                        <span>{{ i }}</span>
                    </a>
                    </li>
                {% endif %}
            {% endfor %}
            <!-- Render gap if it is needed -->
            {% if page < total_pages_count - page_interval_diff - 1  %}
                <li>
                    <a href="#">
                        <span>...</span>
                    </a>
                </li>
            {% endif %}
            <!-- Render last page button if it is needed -->
            {% if page < total_pages_count - page_interval_diff  %}
                <li>
                    <a href="{{ path(current_path,
                    app.request.attributes.get('_route_params')|merge({'page': total_pages_count})|merge(app.request.query.all)) }}">
                        <span>{{ total_pages_count }}</span>
                    </a>
                </li>
            {% endif %}
            <!-- Render "Next" button -->
            <li>
                {% if page < total_pages_count %}
                <a href="{{ path(current_path,
                app.request.attributes.get('_route_params')|merge({'page': page+1})|merge(app.request.query.all)) }}">
                    {% else %}
                    <a href="#">
                        {% endif %}
                        {{ 'pagination.next'|trans() }} <span>&rarr;</span>
                    </a>
            </li>
        </ul>
    </nav>
</div>
