{% block item_block %}
    <div class="panel panel-default">
        <div class="row ad-container">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2 col-xs-12">
                        <p><b>{{ 'searches.name.search'|trans() }} #{{ loop.index + pageCount * (page-1) }}</b></p>
                    </div>
                    <div class="col-md-10 col-xs-12 text-right">
                        {% set vehicleSearch = item %}
                        {% include('@App/includes/searches_pin_button.html.twig') %}
                        <a href="{{ path('searches_view_results', {'id': vehicleSearch.id}) }}"
                           class="btn btn-primary">
                            {{ 'searches.button.view'|trans() }}
                        </a>
                    </div>

                </div>

                <div class="row">
                    {% if item.brand is not null %}
                        <div class="col-md-3 col-sm-12">
                            {{ 'searches.field.brand'|trans() }}: <b>{{ item.brand.name }}</b>
                        </div>
                    {% endif %}
                    {% if item.model is not empty %}
                        <div class="col-md-3 col-sm-12">
                            {{ 'searches.field.models'|trans() }}:
                            <b>{% for model in item.model %}
                                {{ model.name }}{% if not loop.last %}, {% endif %}
                            {% endfor %}</b>
                        </div>
                    {% endif %}
                    {% if item.country is not null %}
                        <div class="col-md-3 col-sm-12">
                            {{ 'searches.field.country'|trans() }}: <b>{{ item.country.name }}</b>
                        </div>
                    {% endif %}
                    {% if item.city is not empty %}
                        <div class="col-md-3 col-sm-12">
                            {{ 'searches.field.cities'|trans() }}:
                            <b>{% for city in item.city %}
                                {{ city.name }}{% if not loop.last %}, {% endif %}
                            {% endfor %}</b>
                        </div>
                    {% endif %}
                    {% if item.bodyType is not empty %}
                        <div class="col-md-3 col-sm-12">
                            {{ 'searches.field.body_type'|trans() }}:
                            <b>{% for bodyType in item.bodyType %}
                                {{ bodyType.name|lower() }}{% if not loop.last %}, {% endif %}
                            {% endfor %}</b>
                        </div>
                    {% endif %}
                    {% if item.fuelType is not empty %}
                        <div class="col-md-3 col-sm-12">
                            {{ 'searches.field.fuel_type'|trans() }}:
                            <b>{% for fuelType in item.fuelType %}
                                {{ fuelType.name|lower() }}{% if not loop.last %}, {% endif %}
                            {% endfor %}</b>
                        </div>
                    {% endif %}
                    {% if item.priceFrom is not null %}
                        <div class="col-md-3 col-sm-12">
                            {{ 'searches.field.price_from'|trans() }}: <b>{{ item.priceFrom|price() }}</b>
                        </div>
                    {% endif %}
                    {% if item.priceTo is not null %}
                        <div class="col-md-3 col-sm-12">
                            {{ 'searches.field.price_to'|trans() }}: <b>{{ item.priceTo|price() }}</b>
                        </div>
                    {% endif %}
                    {% if item.yearFrom is not null %}
                        <div class="col-md-3 col-sm-12">
                            {{ 'searches.field.year_from'|trans() }}: <b>{{ item.yearFrom|year() }}</b>
                        </div>
                    {% endif %}
                    {% if item.yearTo is not null %}
                        <div class="col-md-3 col-sm-12">
                            {{ 'searches.field.year_to'|trans() }}: <b>{{ item.yearTo|year() }}</b>
                        </div>
                    {% endif %}
                    {% if item.engineSizeFrom is not null %}
                        <div class="col-md-3 col-sm-12">
                            {{ 'searches.field.engine_size_from'|trans() }}: <b>{{ item.engineSizeFrom|engineSize() }}</b>
                        </div>
                    {% endif %}
                    {% if item.engineSizeTo is not null %}
                        <div class="col-md-3 col-sm-12">
                            {{ 'searches.field.engine_size_to'|trans() }}: <b>{{ item.engineSizeTo|engineSize() }}</b>
                        </div>
                    {% endif %}
                    {% if item.powerFrom is not null %}
                        <div class="col-md-3 col-sm-12">
                            {{ 'searches.field.power_from'|trans() }}: <b>{{ item.powerFrom|power() }}</b>
                        </div>
                    {% endif %}
                    {% if item.powerTo is not null %}
                        <div class="col-md-3 col-sm-12">
                            {{ 'searches.field.power_to'|trans() }}: <b>{{ item.powerTo|power() }}</b>
                        </div>
                    {% endif %}
                    {% if item.doorsNumber is not null %}
                        <div class="col-md-3 col-sm-12">
                            {{ 'searches.field.doors_number'|trans() }}: <b>{{ item.doorsNumber }}</b>
                        </div>
                    {% endif %}
                    {% if item.seatsNumber is not null %}
                        <div class="col-md-3 col-sm-12">
                            {{ 'searches.field.seats_number'|trans() }}: <b>{{ item.seatsNumber }}</b>
                        </div>
                    {% endif %}
                    {% if item.driveType is not null %}
                        <div class="col-md-3 col-sm-12">
                            {{ 'searches.field.drive_type'|trans() }}:
                            <b>{% if item.driveType == 0 %}
                                {{ 'advert.field.value.drive_type.manual'|trans() }}
                            {% elseif item.driveType == 1 %}
                                {{ 'advert.field.value.drive_type.auto'|trans() }}
                            {% endif %}</b>
                        </div>
                    {% endif %}
                    {% if item.steeringWheel is not null %}
                        <div class="col-md-3 col-sm-12">
                            {{ 'searches.field.steering_wheel'|trans() }}:
                            <b>{% if item.steeringWheel == 0 %}
                                {{ 'advert.field.value.steering_wheel.left'|trans() }}
                            {% elseif item.steeringWheel == 1 %}
                                {{ 'advert.field.value.steering_wheel.right'|trans() }}
                            {% endif %}</b>
                        </div>
                    {% endif %}
                    {% if item.transmission is not empty %}
                        <div class="col-md-3 col-sm-12">
                            {{ 'searches.field.transmission'|trans() }}:
                            <b>{% for transmission in item.transmission %}
                                {{ transmission.name|lower() }}{% if not loop.last %}, {% endif %}
                            {% endfor %}</b>
                        </div>
                    {% endif %}
                    {% if item.defects is not empty %}
                        <div class="col-md-3 col-sm-12">
                            {{ 'searches.field.defects'|trans() }}:
                            <b>{% for defects in item.defects %}
                                {{ defects.name|lower() }}{% if not loop.last %}, {% endif %}
                            {% endfor %}</b>
                        </div>
                    {% endif %}
                    {% if item.climateControl is not empty %}
                        <div class="col-md-3 col-sm-12">
                            {{ 'searches.field.climate_control'|trans() }}:
                            <b>{% for climateControl in item.climateControl %}
                                {{ climateControl.name|lower() }}{% if not loop.last %}, {% endif %}
                            {% endfor %}</b>
                        </div>
                    {% endif %}
                    {% if item.color is not empty %}
                        <div class="col-md-3 col-sm-12">
                            {{ 'searches.field.colors'|trans() }}:
                            <b>{% for color in item.color %}
                                {{ color.name|lower() }}{% if not loop.last %}, {% endif %}
                            {% endfor %}</b>
                        </div>
                    {% endif %}
                    {% if item.wheelsDiameter is not null %}
                        <div class="col-md-3 col-sm-12">
                            {{ 'searches.field.wheels_diameter'|trans() }}: <b>{{ item.wheelsDiameter|wheelsDiameter() }}</b>
                        </div>
                    {% endif %}
                    {% if item.mileageFrom is not null %}
                        <div class="col-md-3 col-sm-12">
                            {{ 'searches.field.mileage_from'|trans() }}: <b>{{ item.mileageFrom|mileage() }}</b>
                        </div>
                    {% endif %}
                    {% if item.mileageTo is not null %}
                        <div class="col-md-3 col-sm-12">
                            {{ 'searches.field.mileage_to'|trans() }}: <b>{{ item.mileageTo|mileage() }}</b>
                        </div>
                    {% endif %}
                    {% if item.nextCheckYear is not null %}
                        <div class="col-md-3 col-sm-12">
                            {{ 'searches.field.next_check_year'|trans() }}: <b>{{ item.nextCheckYear|year() }}</b>
                        </div>
                    {% endif %}
                    {% if item.firstCountry is not empty %}
                        <div class="col-md-3 col-sm-12">
                            {{ 'searches.field.first_countries'|trans() }}:
                            <b>{% for firstCountry in item.firstCountry %}
                                {{ firstCountry.name|lower() }}{% if not loop.last %}, {% endif %}
                            {% endfor %}</b>
                        </div>
                    {% endif %}
                    {% if item.gearsNumber is not null %}
                        <div class="col-md-3 col-sm-12">
                            {{ 'searches.field.gears_number'|trans() }}: <b>{{ item.gearsNumber }}</b>
                        </div>
                    {% endif %}
                    {% if item.provider is not empty %}
                        <div class="col-md-3 col-sm-12">
                            {{ 'searches.field.providers'|trans() }}:
                            <b>{% for provider in item.provider %}
                                {{ provider.name }}{% if not loop.last %}, {% endif %}
                            {% endfor %}</b>
                        </div>
                    {% endif %}
                    {% if item.lastAdUpdate is not null %}
                        <div class="col-md-3 col-sm-12">
                            {{ 'searches.field.last_ad_update'|trans() }}:
                            ne seniau kaip <b>{{ item.lastAdUpdate|dayago() }}</b>
                        </div>
                    {% endif %}
                    {% if item.sortType is not null %}
                        <div class="col-md-3 col-sm-12">
                            {{ 'searches.field.sort_type'|trans() }}:
                            <b>{% if item.sortType == 0 %}
                                {{ 'searches.value.sort.cost_min'|trans() }}
                            {% elseif item.sortType == 1 %}
                                {{ 'searches.value.sort.cost_max'|trans() }}
                            {% elseif item.sortType == 2 %}
                                {{ 'searches.value.sort.date_new'|trans() }}
                            {% elseif item.sortType == 3 %}
                                {{ 'searches.value.sort.date_old'|trans() }}
                            {% endif %}</b>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block searches_list %}
    {% set pageCount = 0 %}
    <h4>{{ 'subtitle.searches_recent'|trans() }}</h4>
    {% if searches_recent|length == 0 %}
        <div class="alert alert-danger">
            {{ 'results.error.no_searches'|trans() }}
        </div>
    {% else %}
        <p><a
            class="btn btn-default searches-collapse"
            data-toggle="collapse"
            data-target="#recent-searches"
            aria-expanded="false">
            {{ 'searches.button.view_more'|trans() }}
        </a></p>
        <div id="recent-searches" class="collapse">
            {% for item in searches_recent %}
                {{ block('item_block') }}
            {% endfor %}
        </div>

    {% endif %}

    {% set pageCount = pageSearchCount %}
    <h4>{{ 'subtitle.searches_saved'|trans() }}</h4>
    {% if searches_saved|length == 0 %}
        <div class="alert alert-danger">
            {{ 'results.error.no_searches'|trans() }}
        </div>
    {% else %}
        {% for item in searches_saved %}
            {{ block('item_block') }}
        {% endfor %}
    {% endif %}
    {{ block('pagination') }}
{% endblock %}

{% block ad_list_javascripts %}
{% endblock %}
